---
Checks: 
"bugprone-*,
cert-*,
clang-analyzer-*,
concurrency-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
hicpp-*,
-hicpp-signed-bitwise,
-hicpp-no-array-decay,
llvm-*,
misc-*,
modernize-*,
-modernize-use-trailing-return-type,
mpi*,
performance-*,
readability-*"

WarningsAsErrors: ""
HeaderFilterRegex: ""
CheckOptions:
  - key: readability-identifier-naming.LocalConstantCase
    value: "camelBack"
  - key: readability-identifier-naming.ConstantParameterCase
    value: "camelBack"
  - key: readability-identifier-naming.GlobalConstantCase
    value: "UPPER_CASE"
  - key: readability-identifier-naming.VariableCase
    value: "camelBack"
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: "_"
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: "m_"